<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>841269920555-qng2i6nu3nfrtpngn8ns5hur60meihem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841269920555-qng2i6nu3nfrtpngn8ns5hur60meihem</string>
	<key>API_KEY</key>
	<string>AIzaSyCj4VpadwvQTBoOKsTwOnLq2HllPhEbv4w</string>
	<key>GCM_SENDER_ID</key>
	<string>841269920555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vamsi.OwnIdeaApplication</string>
	<key>PROJECT_ID</key>
	<string>ownidea-328fd</string>
	<key>STORAGE_BUCKET</key>
	<string>ownidea-328fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:841269920555:ios:382e05bfd3b5c438</string>
	<key>DATABASE_URL</key>
	<string>https://ownidea-328fd.firebaseio.com</string>
</dict>
</plist>